{% load i18n %}

{% block subject %}
    {% blocktrans %}Complete Registration{% endblocktrans %}
{% endblock %}

{% block html_body %}
    <html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Complete Registration</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    </head>

    <body>

    <div>
        {% with "weav://?token="|add:token.value as token_url %}
        {% endwith %}
    </div>

    </body>
    </html>
{% endblock html_body %}